.modal__error {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0;
    display: block;
    color: #FF0000;
    transition: opacity 0.1s linear;
}
