.profile__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 680px) {
    .profile__subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-left: 23px;
    }
}
