.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto 67px;
}

@media screen and (max-width: 425px) {
    .elements {
        margin: 0 auto 50px;
        row-gap: 17px;
    }
}
