.modal__submit {
    width: 100%;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    margin-top: 48px;
    padding: 14px 0 18px;
}
